extends layout

block content
  div(class="container")
    h1= title
    div(class="docs-section")
      div(class="row")
        div(class="six columns")
          each item in clienti
            li= item
    div(class="row")
      include ./pulsanti.jade
