p
  form(name="apri", action="/citofono", method="get")
    input(class="button button-primary", type="submit", value="apri")
p
  a(class="button button" href="/connessi") Connessi
p
  a(class="button button" href="/logout") Logout
